
{% extends 'translators.html' %}



{% block main %}

<style>

.authors {
  column-count: 3;
}

</style>

<br>


<h5> Authors </h5>

<br>


<h5><strong>A</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'a'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>




<h5><strong>B</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'b'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>




<h5><strong>C</strong></h5>


<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'c'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>


{% endif %}

{% endfor %}

</div>


<br>
<br>





<h5><strong>D</strong></h5>


<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'd'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>


{% endif %}

{% endfor %}

</div>


<br>
<br>



<h5><strong>E</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'e'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>




<h5><strong>F</strong></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'f'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>



<h5><strong>G</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'g'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>




<h5><strong>H</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'h'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>




<h5><strong>I</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'i'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>




<h5><strong>J</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'j'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>



<h5><strong>K</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'k'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>



<h5><strong>L</strong></h5>


<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'l'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>



<h5><strong>M</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'm'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>




<h5><strong>N</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'n'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>



<h5><strong>O</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'o'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>




<h5><strong>P</strong></h5>


<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'p'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>




<h5><strong>Q</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'q'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>




<h5><strong>R</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'r'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>




<h5><strong>S</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 's'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>





<h5><strong>T</strong></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 't'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>


{% endif %}

{% endfor %}

</div>



<br>
<br>


<h5><strong>U</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'u'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>




<h5><strong>V</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'v'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>





<h5><strong>W</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'w'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>




<h5><strong>X</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'x'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>





<h5><strong>Y</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'y'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>





<h5><strong>Z</stron></h5>

<div class="authors">


{% for item in var.sorted_authors_list %}

{% if item.name|first in 'z'%}

<p><a href="{%url 'translators_about_view' id=item.id %}">{{item.name}}</a></p>

{% endif %}

{% endfor %}

</div>


<br>
<br>








{% endblock %}





















